@import '../../stylesheet/palette.scss';
///TODO:Problem. You a parent with abs pos img and text to be written in front. How do you make sure the text is always on the image?
///If you make the image absolute then you can't work out the correct height of the div. 
///If you make the row absolute then you break responsive design of text.
//Can only make image absolute to keep the nice text. Compromise.
.home{
    text-align:center;
    font-family: 'Baloo Chettan', cursive;
    font-weight:bold;
    ///Fit rows to full width container
    width:100%;
    padding:0;
    ///TODO:Simple but nice way of positioning text on top of image(header component). DO not make the image absolute because this height can vary
    ///     allowing text to flow into the image since the height of the div above is set by the text not the abs positioned image. 
    header {
        position:relative;
        color:$color-secondary-1-0;
        video {
            left:0;
            top:0;
            width: 100%;
            height: auto;
        }
        .abs{
            ///TODO:Note In this case start with the largest screen with text to side and move to smallest with text at side.
            ///You go the unatural way from largest to smallest since the height is not set with largest but is with smallest.
            ///Largest screen width.
            position:absolute;
            top:40%;
            left:0;
            @media screen and (max-width: 480px) {
                top:0;
                height:100%;
                width:100%;
                color:white;
            }
            h1{
                ///TODO:Remember order is important here. Cascading!!!!
                ///Start with largest as with abs object.
                font-size:50px;
                @media screen and (max-width: 1024px) {
                    font-size:45px;
                }
                @media only screen and (max-width : 992px) {
                    font-size:40px;
                }
                @media screen and (max-width: 768px) {
                    font-size:35px;
                }
            }
            h2{
                font-size:40px;
                @media screen and (max-width: 1024px) {
                    font-size:35px;
                }
                @media only screen and (max-width : 992px) {
                    font-size:30px;
                }
                @media screen and (max-width: 768px) {
                    font-size:25px;
                }
            }
        }
    }
    .width{
        height:100px;
    }
    h4 {
        position:relative;
        right:20px;
        top:15%;
    }
    .gly{
        position:relative;
        text-align:center;
        bottom:20px;
        height:20px;
        color:white;
        font-size:40px
    }

    /*You create the style using two curved lines superimposed. */
    hr {
        /*TODO:Remember difference between &.fancy and .fancy. First is hr with class fancy and .fancy is any child of hr with class=fancy. */
        &.fancy { 
            height: 30px; 
            border-style: solid; 
            border-color: #8c8b8b; 
            border-width: 1px 0 0 0; 
            border-radius: 20px; 
            &:before{
                display: block; 
                content: ""; 
                height: 30px; 
                margin-top: -31px; 
                border-style: solid; 
                border-color: #8c8b8b; 
                border-width: 0 0 1px 0; 
                border-radius: 20px; 
            }
        } 
    }
    .cBlack{
        background-color:black;
        color:white;
    }
}
