/*Cut off at 480px which is ~ mobile landscape.*/
/*Bulb should fill up screen if portrait(<480px) and should leave space(on right and left) for info if larger than 480px*/
body{
    margin:0;
    width:100vw;
    height:100vh;
}
.container{
    position:relative;
    margin:0;
    background-color:black;
    width:100vw;
    height:100vh;
}
.writing{
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:25px;
    color:yellow;
    text-align:center;
    margin:5%;
    padding:10px;
    box-shadow: 3px 3px 5px yellow;
    /*display:inline-block;*/
    opacity:0;
    animation: appear 5s forwards;
    animation-delay: 5s;

}
.webDev{
    @media only screen and (min-width: 480px) {
        position:absolute;
        left:30px;
        /*width:(1/5)*100%;*/
        /*height:auto;*/
        margin:0;
        top:35%;
        font-size:25px;
    }
    @media only screen and (min-width: 1024px) {
        left:60px;
        top:40%;
        font-size:30px;
    }

}
.bits{
    @media only screen and (min-width: 480px) {
        position:absolute;
        right:30px;
        /*width:(1/5)*100%;*/
        /*height:auto;*/
        margin:0;
        top:35%;
        font-size:25px;
    }
    @media only screen and (min-width: 1024px) {
        right:60px;
        top:40%;
        font-size:30px;
    }
}
.bulb{
    position:relative;
    left:(1/10)*100%;
    width:(4/5)*100%;
    top:5%;
    height:auto;
    margin:0;
    /*Min width or higher.*/
    @media only screen and (min-width: 480px) {
        top:20%;
        left:(1/6)*100%;
        width:(2/3)*100%;
    }
}
@keyframes appear{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }

}
@keyframes appearBlink{
    0% {
        opacity:0;
    }
    20% {
        opacity:0.5;
    }
    40% {
        opacity:0.1;
    }
    60% {
        opacity:0.7;
    }
    80% {
        opacity:0.1;
    }
    100% {
        opacity:1;
    }
}

svg{
    position:absolute;
    width:10%;
    height:auto;
    /*Image will cover bolt after opacity is changed?*/
    z-index:1;
    opacity:0;
    animation: appear 5s forwards;
    animation-delay: 5s;
    &.first{
        top:15%;
        left:35%;
        transform:rotate(-45deg);
    }
    &.second{
        top:15%;
        right:35%;
        transform:rotate(45deg) rotateX(180deg);
    }
}
img{
    width:100%;
    height:auto;
    animation: appearBlink 5s forwards;
}
