@import "../../../stylesheet/mixims";
.bulb{
    position:relative;
    @include abs-pos(0,0,100%,auto);
    margin:0;
    &:hover{
        svg{
            opacity:1;
        }
        img{
            -webkit-filter: brightness(200%); /* Chrome, Safari, Opera */
            filter: brightness(200%);
        }
    }
    img{
        position:absolute;
        border-radius:50%;
        left:37.5%;
        width:25%;
        height:auto;
    }
    svg{
        position:absolute;
        width:10%;
        height:auto;
        z-index:1;
        opacity:0;
        transition:all 3s;
        &.first{
            top:15%;
            left:35%;
            transform:rotate(-45deg);
        }
        &.second{
            top:15%;
            right:35%;
            transform:rotate(45deg) rotateX(180deg);
        }
    }
}

